h1, h3, p {
	margin: 0;
	padding: 0;
}

h1, h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 40px;
	font-weight: bold;
	line-height: 48px;
}

h3 {
	font-size: 24px;
	font-weight: bold;
	line-height: 29px;
}

header {
	height: 90vh;
}

header .author {
	float: left;
	width: 38.3%;
	height: 100%;
	background: url(../img/2dUuRSOajdI.jpg);
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center;
}

header .description {
	position: relative;
	float: right;
	width: 61.7%;
	height: 100%;
	background-color: #082841;
	color: #fff;
}

header h3 {
	margin-top: 56px;
	margin-left: 56px;
}
header h1 {
	margin-left: 56px;
	margin-top: 12px;
}

header p {
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 544px;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 20px;
	line-height: 28px;
	margin: 56px;
}





.container {
	color: #000;
}




.expectations h1 {
	margin-top: 80px;
	margin-bottom: 40px;
}

.expectation {
	height: 220px;
	background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
	border-radius: 4px;
	margin-bottom: 30px;
}

.expectation h3 {
	position: relative;
	padding-top: 30px;
	padding-left: 30px;
}

.expectation p {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 45px;
	margin-bottom: 60px;
	margin-right: 45px;
}




.works {
	margin-top: 40px;
}

.works img {
	width: 100%;
	border-radius: 5px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3);
}

.works article {
	margin-top: 40px;
}

.works .description {
	position: relative;
}

.works .description p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 15px;
	padding-right: 15px;
}










.slider 
{
	width: 100%;
	position: relative;
    z-index:0; 
    margin-bottom: 150px;
} 

.slider input
{
	display: none;
}
.slider label
{
	bottom: 10px;
	z-index: 2;
	width: 26px;
	height: 27px;
	transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	background: #f4f4f5;
	border: 1px solid #e6e6e6;
	border-bottom-color: #bfbfbf;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 #ffffff, 0 1px 2px #000000;
	text-align: center;
	cursor: pointer;
	font: 14px/27px arial, tahoma;
	color: #333;
}
.slider .selector_list
{
	z-index: 11;
}
.slider .item
{ 
	opacity: 1.0;
	transition: opacity 0.0s linear 0.2s;
	-moz-transition: opacity 0.0s linear 0.2s;
	-webkit-transition: opacity 0.0s linear 0.2s;
	-o-transition: opacity 0.0s linear 0.2s;
}

.sites .slider:nth-child(2n+1) {
	padding-right: 50px;
}
.sites .slider:nth-child(2n) {
	padding-left: 50px;
}

.slider img {
	display:block;
	height: auto;
	width: 100%;
}

.slider .item ~ .item
{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.0;
}

.slider input:nth-of-type(1):checked ~ .item:nth-of-type(1),
.slider input:nth-of-type(2):checked ~ .item:nth-of-type(2),
.slider input:nth-of-type(3):checked ~ .item:nth-of-type(3),
.slider input:nth-of-type(4):checked ~ .item:nth-of-type(4),
.slider input:nth-of-type(5):checked ~ .item:nth-of-type(5)
{
	opacity: 1.0;
	transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-webkit-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	z-index: 6;
}

/* авторотация слайдов */
@keyframes item-autoplay_count_2 {0%{opacity:0;}20%{opacity:1;}50%{opacity:1;}70%{opacity:0;}100%{opacity:0;}}
@keyframes item-autoplay_count_3 {0%{opacity:0;}10%{opacity:1;}33% {opacity:1;}43% {opacity:0;}100%{opacity:0;}}
@keyframes item-autoplay_count_4 {0%{opacity:0;}8% {opacity:1;}25% {opacity:1;}33% {opacity:0;}100%{opacity:0;}}
@keyframes item-autoplay_count_5 {0%{opacity:0;}7% {opacity:1;}20%{opacity:1;}27% {opacity:0;}100%{opacity:0;}}

@-moz-keyframes item-autoplay_count_2 {0%{opacity:0;}20%{opacity:1;}50%{opacity:1;}70%{opacity:0;}100%{opacity:0;}}
@-moz-keyframes item-autoplay_count_3 {0%{opacity:0;}10%{opacity:1;}33% {opacity:1;}43% {opacity:0;}100%{opacity:0;}}
@-moz-keyframes item-autoplay_count_4 {0%{opacity:0;}8% {opacity:1;}25% {opacity:1;}33% {opacity:0;}100%{opacity:0;}}
@-moz-keyframes item-autoplay_count_5 {0%{opacity:0;}7% {opacity:1;}20%{opacity:1;}27% {opacity:0;}100%{opacity:0;}}

@-webkit-keyframes item-autoplay_count_2 {0%{opacity:0;}20%{opacity:1;}50%{opacity:1;}70%{opacity:0;}100%{opacity:0;}}
@-webkit-keyframes item-autoplay_count_3 {0%{opacity:0;}10%{opacity:1;}33% {opacity:1;}43% {opacity:0;}100%{opacity:0;}}
@-webkit-keyframes item-autoplay_count_4 {0%{opacity:0;}8% {opacity:1;}25% {opacity:1;}33% {opacity:0;}100%{opacity:0;}}
@-webkit-keyframes item-autoplay_count_5 {0%{opacity:0;}7% {opacity:1;}20%{opacity:1;}27% {opacity:0;}100%{opacity:0;}}

@-o-keyframes item-autoplay_count_2 {0%{opacity:0;}20%{opacity:1;}50%{opacity:1;}70%{opacity:0;}100%{opacity:0;}}
@-o-keyframes item-autoplay_count_3 {0%{opacity:0;}10%{opacity:1;}33% {opacity:1;}43% {opacity:0;}100%{opacity:0;}}
@-o-keyframes item-autoplay_count_4 {0%{opacity:0;}8% {opacity:1;}25% {opacity:1;}33% {opacity:0;}100%{opacity:0;}}
@-o-keyframes item-autoplay_count_5 {0%{opacity:0;}7% {opacity:1;}20%{opacity:1;}27% {opacity:0;}100%{opacity:0;}}

.slider.slider_count_2 .item
{
	animation: item-autoplay_count_2 10s infinite;
	-moz-animation: item-autoplay_count_2 10s infinite;
	-webkit-animation: item-autoplay_count_2 10s infinite;
	-o-animation: item-autoplay_count_2 10s infinite;
}
.slider.slider_count_3 .item
{
	animation: item-autoplay_count_3 15s infinite;
	-moz-animation: item-autoplay_count_3 15s infinite;
	-webkit-animation: item-autoplay_count_3 15s infinite;
	-o-animation: item-autoplay_count_3 15s infinite;
}
.slider.slider_count_4 .item
{
	animation: item-autoplay_count_4 20s infinite;
	-moz-animation: item-autoplay_count_4 20s infinite;
	-webkit-animation: item-autoplay_count_4 20s infinite;
	-o-animation: item-autoplay_count_4 20s infinite;
}
.slider.slider_count_5 .item
{
	animation: item-autoplay_count_5 25s infinite;
	-moz-animation: item-autoplay_count_5 25s infinite;
	-webkit-animation: item-autoplay_count_5 25s infinite;
	-o-animation: item-autoplay_count_5 25s infinite;
}
.slider .item:nth-of-type(2) {

	animation-delay:5s;-moz-animation-delay:5s;
	-webkit-animation-delay:5s;-o-animation-delay:5s;
}
.slider .item:nth-of-type(3) {
	animation-delay:10s;
	-moz-animation-delay:10s;
	-webkit-animation-delay:10s;
	-o-animation-delay:10s;
}
.slider .item:nth-of-type(4){
	animation-delay:15s;
	-moz-animation-delay:15s;
	-webkit-animation-delay:15s;
	-o-animation-delay:15s;
}
.slider .item:nth-of-type(5){ 
	animation-delay:20s;
	-moz-animation-delay:20s;
	-webkit-animation-delay:20s;
	-o-animation-delay:20s;
}

.slider input:checked ~ .item
{
	animation: none;
	-moz-animation: none;
	-webkit-animation: none;
	-o-animation: none;
}
    

.slider label:hover
{
	background: #dfdfdf;
}
.slider input:nth-of-type(1):checked ~ .selector_list label:nth-of-type(1),
.slider input:nth-of-type(2):checked ~ .selector_list label:nth-of-type(2),
.slider input:nth-of-type(3):checked ~ .selector_list label:nth-of-type(3),
.slider input:nth-of-type(4):checked ~ .selector_list label:nth-of-type(4),
.slider input:nth-of-type(5):checked ~ .selector_list label:nth-of-type(5)
{
	background: #ac2827;
}
